{% extends "layout.html.twig" %} 
{% block title 'Customisation' %}
    

{% block content %}
    <h1> Choix de votre col </h1>
    <form method="post">
        <div class="form-group">
           <table class="table">
               <tr>
                   <th>Titre</th>
                   <th>Description</th>
                   <th>Photo</th>
                   <th>Prix</th> 
                   <th width="200px"></th>
               </tr>
            {% for col in cols %}
               <tr>
                   <td>{{ col.titre }} </td>
                   <td>{{ col.description }} </td>
                   <td><img src="{{ col.photo }}" alt="" width="200" class="select_img" data-id="{{ col.id_col }}"/> </td>
                   <td>{{ col.prix }} € </td>                   
               </tr>
            {% endfor %}   
           </table>
        </div>
        <button type="submit" class="btn btn-primary" > Etape suivante  </button>
        <input type="hidden" name="custom_product" id="custom_product">
    </form>

{% endblock %}

